{% extends 'base.html' %}
{% load i18n %}

{% load custom_filters %}

{% block content %}

<div class="rows-container">
    <form method="POST" name="game-form">
        {% csrf_token %}
        <button class="btn btn-secondary btn-lg" type="submit" hidden>save</button>
            

            {% if active_rows == 1 %}
            
            <div class="d-flex justify-content-center align-items-center">
                <!-- Get row and column numbers with actual corresponding values from letters dict -->
                {% for index in word_length %}
                        {% with input_name="row1"|add:"col"|add:index %}
                            {% for key, value in letters.items %}
                                {% if key == input_name %}
                                    <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                    autocomplete="off" data-row="1" data-col="{{index}}" autofocus />
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>


            {% elif active_rows == 2 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}   
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="2" data-col="{{index}}" autofocus />
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            

            {% elif active_rows == 3 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}  
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="3" data-col="{{index}}" autofocus/>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            

            {% elif active_rows == 4 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="3" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}  
                    {% with input_name="row4"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="4" data-col="{{index}}" autofocus/>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            
            {% elif active_rows == 5 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="3" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row4"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="4" data-col="{{index}}" style="color: white; background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}  
                    {% with input_name="row5"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="5" data-col="{{index}}" autofocus />
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
    </form>
</div>

<div class="keyboard">
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-outline-secondary btn-lg top" id="buttonQ" 
            style="color: {{keyboard_text_colors|get_text_color:'Q'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'Q' }}">Q</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonW" 
            style="color: {{keyboard_text_colors|get_text_color:'W'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'W' }}">W</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonE" 
            style="color: {{keyboard_text_colors|get_text_color:'E'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'E' }}">E</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonR" 
            style="color: {{keyboard_text_colors|get_text_color:'R'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'R' }}">R</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonT" 
            style="color: {{keyboard_text_colors|get_text_color:'T'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'T' }}">T</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonY" 
            style="color: {{keyboard_text_colors|get_text_color:'Y'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'Y' }}">Y</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonU" 
            style="color: {{keyboard_text_colors|get_text_color:'U'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'U' }}">U</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonI" 
            style="color: {{keyboard_text_colors|get_text_color:'I'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'I' }}">I</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonO" 
            style="color: {{keyboard_text_colors|get_text_color:'O'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'O' }}">O</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonP" 
            style="color: {{keyboard_text_colors|get_text_color:'P'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'P' }}">P</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonA" 
            style="color: {{keyboard_text_colors|get_text_color:'A'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'A' }}">A</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonS" 
            style="color: {{keyboard_text_colors|get_text_color:'S'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'S' }}">S</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonD" 
            style="color: {{keyboard_text_colors|get_text_color:'D'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'D' }}">D</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonF" 
            style="color: {{keyboard_text_colors|get_text_color:'F'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'F' }}">F</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonG" 
            style="color: {{keyboard_text_colors|get_text_color:'G'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'G' }}">G</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonH" 
            style="color: {{keyboard_text_colors|get_text_color:'H'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'H' }}">H</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonJ" 
            style="color: {{keyboard_text_colors|get_text_color:'J'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'J' }}">J</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonK" 
            style="color: {{keyboard_text_colors|get_text_color:'K'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'K' }}">K</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonL" 
            style="color: {{keyboard_text_colors|get_text_color:'L'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'L' }}">L</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-outline-secondary btn-lg down" id="buttonBackspace">&nbsp⌫&nbsp</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonZ" 
            style="color: {{keyboard_text_colors|get_text_color:'Z'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'Z' }}">Z</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonX" 
            style="color: {{keyboard_text_colors|get_text_color:'X'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'X' }}">X</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonC" 
            style="color: {{keyboard_text_colors|get_text_color:'C'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'C' }}">C</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonV" 
            style="color: {{keyboard_text_colors|get_text_color:'V'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'V' }}">V</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonB" 
            style="color: {{keyboard_text_colors|get_text_color:'B'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'B' }}">B</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonN" 
            style="color: {{keyboard_text_colors|get_text_color:'N'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'N' }}">N</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonM" 
            style="color: {{keyboard_text_colors|get_text_color:'M'}}; background-color: {{ keyboard_bg_colors|get_bg_color:'M' }}">M</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonEnter">Enter</button>
        </div>
    </div>
</div>


<script>
    var letterInputs = document.querySelectorAll('.input-field');

    // Attach event listeners to each input-box
    letterInputs.forEach(function (input, index) {
        input.addEventListener('input', function (event) {
            if (event.data !== null && event.data.length === 1) {
                // Move to the next input-box after a letter is entered
                var nextInput = getNextInput(input);
                if (nextInput) {
                    nextInput.focus();
                }
            }
        });

        input.addEventListener('keydown', function (event) {
            if (event.key === "Backspace" && input.value === "") {
                // Move to the previous input-box after 'backspace' is clicked
                var prevInput = getPrevInput(input);
                if (prevInput) {
                    prevInput.focus();
                }
            }
        });
    });

    // Helper function to get the next input in the same row or the next row
    function getNextInput(input) {
        var currentRow = input.getAttribute('data-row');
        var currentCol = input.getAttribute('data-col');
        var nextCol = parseInt(currentCol) + 1;
        var nextRow = currentRow;

        // Check if the next column exceeds the maximum columns in a row
        if (nextCol > 10) {
            nextCol = 1;
            nextRow = parseInt(currentRow) + 1;
        }

        // Get the next input
        return document.querySelector(`[data-row="${nextRow}"][data-col="${nextCol}"]`);
    }

    // Helper function to get the previous input in the same row or the previous row
    function getPrevInput(input) {
        var currentRow = input.getAttribute('data-row');
        var currentCol = input.getAttribute('data-col');
        var prevCol = parseInt(currentCol) - 1;
        var prevRow = currentRow;

        // Check if the previous column is less than 1
        if (prevCol < 1) {
            prevCol = 10;
            prevRow = parseInt(currentRow) - 1;
        }

        // Get the previous input
        return document.querySelector(`[data-row="${prevRow}"][data-col="${prevCol}"]`);
    }

</script>

{% endblock %}