{% extends 'base.html' %}

{% block content %}

<div class="rows-container">
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary btn-lg" type="submit" hidden>save</button>
            

            {% if active_rows == 1 %}
            
            <div class="d-flex justify-content-center align-items-center">
                <!-- Get row and column numbers with actual corresponding values from letters dict -->
                {% for index in word_length %}
                        {% with input_name="row1"|add:"col"|add:index %}
                            {% for key, value in letters.items %}
                                {% if key == input_name %}
                                    <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                    autocomplete="off" data-row="1" data-col="{{index}}" autofocus />
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>


            {% elif active_rows == 2 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}   
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="2" data-col="{{index}}" autofocus />
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            

            {% elif active_rows == 3 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}  
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="3" data-col="{{index}}" autofocus/>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>
            

            {% elif active_rows == 4 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="3" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}  
                    {% with input_name="row4"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="4" data-col="{{index}}" autofocus/>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    <input class="input-field" disabled />
                {% endfor %}
            </div>

            
            {% elif active_rows == 5 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="3" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row4"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="4" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}  
                    {% with input_name="row5"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                <input type="text" class="input-field" name="{{ input_name }}" maxlength="1" value="{{ value.upper }}"
                                autocomplete="off" data-row="5" data-col="{{index}}" autofocus />
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            
            {% elif active_rows == 6 %}
            
            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row1"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="1" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row2"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="2" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row3"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="3" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row4"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="4" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center align-items-center">
                {% for index in word_length %}
                    {% with input_name="row5"|add:"col"|add:index %}
                        {% for key, value in letters.items %}
                            {% if key == input_name %}
                                {% for k, v in box_colors.items %}
                                    {% if k == input_name %}
                                        <input class="input-field" name="{{ input_name }}" value="{{ value.upper }}"
                                        data-row="5" data-col="{{index}}" style="background-color: {{v}}" disabled />
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
            
            {% endif %}
    </form>
</div>

<div class="keyboard">
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-outline-secondary btn-lg top" id="buttonQ">Q</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonW">W</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonE">E</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonR">R</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonT">T</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonY">Y</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonU">U</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonI">I</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonO">O</button>
            <button class="btn btn-outline-secondary btn-lg top" id="buttonP">P</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonA">A</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonS">S</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonD">D</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonF">F</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonG">G</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonH">H</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonJ">J</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonK">K</button>
            <button class="btn btn-outline-secondary btn-lg mid" id="buttonL">L</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-outline-secondary btn-lg down" id="buttonBackspace">&nbsp⌫&nbsp</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonZ">Z</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonX">X</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonC">C</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonV">V</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonB">B</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonN">N</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonM">M</button>
            <button class="btn btn-outline-secondary btn-lg down" id="buttonEnter">Enter</button>
        </div>
    </div>
</div>


<script>
    var letterInputs = document.querySelectorAll('.input-field');

    // Attach event listeners to each input-box
    letterInputs.forEach(function (input, index) {
        input.addEventListener('input', function (event) {
            if (event.data !== null && event.data.length === 1) {
                // Move to the next input-box after a letter is entered
                var nextInput = getNextInput(input);
                if (nextInput) {
                    nextInput.focus();
                }
            }
        });

        input.addEventListener('keydown', function (event) {
            if (event.key === "Backspace" && input.value === "") {
                // Move to the previous input-box after 'backspace' is clicked
                var prevInput = getPrevInput(input);
                if (prevInput) {
                    prevInput.focus();
                }
            }
        });
    });

    // Helper function to get the next input in the same row or the next row
    function getNextInput(input) {
        var currentRow = input.getAttribute('data-row');
        var currentCol = input.getAttribute('data-col');
        var nextCol = parseInt(currentCol) + 1;
        var nextRow = currentRow;

        // Check if the next column exceeds the maximum columns in a row
        if (nextCol > 10) {
            nextCol = 1;
            nextRow = parseInt(currentRow) + 1;
        }

        // Get the next input
        return document.querySelector(`[data-row="${nextRow}"][data-col="${nextCol}"]`);
    }

    // Helper function to get the previous input in the same row or the previous row
    function getPrevInput(input) {
        var currentRow = input.getAttribute('data-row');
        var currentCol = input.getAttribute('data-col');
        var prevCol = parseInt(currentCol) - 1;
        var prevRow = currentRow;

        // Check if the previous column is less than 1
        if (prevCol < 1) {
            prevCol = 10;
            prevRow = parseInt(currentRow) - 1;
        }

        // Get the previous input
        return document.querySelector(`[data-row="${prevRow}"][data-col="${prevCol}"]`);
    }
</script>

{% endblock %}