{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="input-group mb-2">
        <button class="btn btn-secondary btn-lg" type="submit">{% translate "Play" %}</button>
        <select class="form-select" id="inputGroupSelect03" name="word_length"
            aria-label="Example select with button addon">
            <option selected value="5" name="five-letters">5 letters</option>
            <option value="6" name="six-letters">6 letters</option>
            <option value="7" name="seven-letters">7 letters</option>
            <option value="8" name="eight-letters">8 letters</option>
        </select>
    </div>

</form>

{% endblock %}