{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<audio controls autoplay hidden>
    <source src="{% static 'endgame-sound.mp3' %}">
</audio>

<div class="content">
    <h1>{% translate "You Lost!" %}</h1>
    <h3>{% translate "Your word was: " %}<a href={{word.definition}} target="_blank">{{word.word}}</a></h3>
    <div>
        <a class="btn btn-dark" href="/{{LANGUAGE_CODE}}" style="width: 25rem; margin-top: 2rem;">{% translate "Go to Homepage" %}</a>
    </div>
</div>

{% endblock %}