.content {
  text-align: center;
}

.content-container {
  background-color: rgb(245, 222, 179, 0.5);
  border-radius: 55px;
  max-width: calc(100% - 1rem);
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 1.5rem;
  box-shadow: grey 1px 0 15px;
  margin: 0 auto;
}


.auth-form {
  width: 30rem;
  margin-left: auto;
  margin-right: auto;

}

.messages {
  margin-top: 0.5rem;
  margin-left: 2%;
  font-size: 1.2rem;
}

/* Game template */
.centered-message {
  position: fixed;
  top: 33.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}

.rows-container {
  margin-bottom: 2.5rem;
}

.input-field {
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
  border: 2px solid rgb(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  caret-color: transparent;
}


.input-field:focus {
  border: 4px solid black;
  outline: none;
}

input:focus {
  animation-name: zoom;
  animation-duration: 200ms;
}

@keyframes zoom {
  from {}

  to {
    transform: scale(1.3);
  }
}

/* Index template */
.index-header {
  font-size: 4rem;
}

.index-description {
  font-weight: 650;
  font-size: large;
}

.length-choice {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

.links-choice {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

.menu-button {
  width: 400px;
  margin-top: .5rem;
}

.about-game-button {
  margin-top: 1rem;
}

.menu button {
  width: 400px;
  margin-top: 0.5rem;
}

/* On-screen keyboard */
.keyboard {
  text-align: center
}

.top {
  width: 53px;
  height: 47px;
}

.mid {
  width: 61px;
  height: 47px;
}

.down {
  width: 57px;
  height: 47px;
}

#buttonW,
#buttonO {
  width: 59px;
}

#buttonEnter,
#buttonBackspace {
  width: 76px;
}